<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACO TSP Solver</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Adicionando Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="app">
        <h1>ACO TSP Solver</h1>

        <!-- Seção de seleção e carregamento da instância -->
        <div id="instanceSelection">
            <h3>Selecionar Instância do Problema</h3>
            <select id="problemInstance">
                <option value="dj38.tsp">Djibouti (dj38)</option>
                <option value="d198.tsp">Omã (d198)</option>
                <option value="lin318.tsp">Luxemburgo (lin318)</option>
            </select>
            <button id="loadInstance">Carregar Instância</button>
        </div>

        <!-- Seção de carregamento de solução inicial -->
        <div id="initialSolutionContainer">
            <h3>Carregar Solução Inicial (opcional)</h3>
            <label for="initialSolution">Solução Inicial (JSON):</label>
            <input type="text" id="initialSolution" placeholder='Ex: [1, 2, 3, 4, 5]' />
            <button id="runACOWithSolution" disabled>Executar ACO com Solução Inicial</button>
        </div>
   <div id="runMultipleACOContainer">
            <button id="runMultipleACO" disabled>Executar Múltiplos ACO</button>
        </div>
        <!-- Parâmetros para o ACO -->
        <div id="parameters">
            <h3>Parâmetros do ACO</h3>
            <div>
                <label for="alpha">Alfa (0.1 - 5):</label>
                <input type="number" id="alpha" placeholder="1.0" value="1.0" step="0.1" min="0.1" max="5" />
                <p class="description">
                    <strong>Vantagem:</strong> Aumentar o valor de Alfa faz com que as formigas sigam mais as trilhas de feromônio, o que pode acelerar a convergência para boas soluções.<br>
                    <strong>Desvantagem:</strong> Valores muito altos podem levar a uma convergência prematura, onde o algoritmo foca em soluções subótimas rapidamente, ignorando outras rotas.
                </p>

                <label for="beta">Beta (0.1 - 10):</label>
                <input type="number" id="beta" placeholder="2.0" value="2.0" step="0.1" min="0.1" max="10" />
                <p class="description">
                    Para maior exploração: beta menor de 1. Para cidades mais próximas, beta maior que 1. <strong>Calculo é distancia_inversa^beta.</strong><br>
                    <strong>Vantagem:</strong> Um Beta mais alto faz com que as formigas favoreçam rotas curtas, o que pode resultar em uma solução eficiente mais rapidamente.<br>
                    <strong>Desvantagem:</strong> Valores muito altos podem fazer com que o algoritmo se torne excessivamente explorador das rotas curtas, ignorando boas rotas baseadas em feromônio.
                </p>

                <label for="evaporation">Evaporação (0 - 1):</label>
                <input type="number" id="evaporation" placeholder="0.5" value="0.5" step="0.1" min="0" max="1" />
                <p class="description">
                    <strong>Vantagem:</strong> Taxas de evaporação mais altas promovem a exploração, permitindo que novas rotas sejam testadas, o que é útil em problemas com muitas soluções possíveis.<br>
                    <strong>Desvantagem:</strong> Se a evaporação for muito alta, o feromônio desaparece rápido demais, e o algoritmo não consegue manter boas rotas, o que pode resultar em perda de boas soluções.
                </p>

                <label for="Q">Q (1 - 1000):</label>
                <input type="number" id="Q" placeholder="10" value="10" min="1" max="1000" />
                <p class="description">
                    <strong>Vantagem:</strong> Um valor de Q maior faz com que boas soluções sejam reforçadas mais rapidamente, acelerando a convergência do algoritmo.<br>
                    <strong>Desvantagem:</strong> Se o valor de Q for muito alto, o algoritmo pode convergir rápido demais em uma solução local subótima, sem explorar adequadamente o espaço de soluções.
                </p>

                <label for="numAnts">Número de Formigas (1 - 1000):</label>
                <input type="number" id="numAnts" placeholder="100" value="100" min="1" max="1000" />
                <p class="description">
                    <strong>Vantagem:</strong> Mais formigas aumentam a exploração, permitindo que o algoritmo investigue mais rotas em cada iteração, o que pode levar a uma melhor solução.<br>
                    <strong>Desvantagem:</strong> O aumento do número de formigas também aumenta o tempo de processamento por iteração, o que pode tornar o algoritmo mais lento.
                </p>

                <label for="numIterations">Número de Iterações (1 - 1000):</label>
                <input type="number" id="numIterations" placeholder="100" value="100" min="1" max="1000" />
                <p class="description">
                    <strong>Vantagem:</strong> Mais iterações permitem que o algoritmo refine melhor as soluções, o que pode resultar em uma solução de melhor qualidade.<br>
                    <strong>Desvantagem:</strong> Mais iterações aumentam o tempo total de execução, e em alguns casos, a melhoria após um certo número de iterações pode ser mínima.
                </p>
            </div>
        </div>

        <!-- Botão para executar o ACO sem solução inicial -->
        <div id="runACOContainer">
            <button id="runACO" disabled>Executar ACO</button>
        </div>

        <!-- Botões para visualização de gráficos -->
        <div id="graphControls">
            <h3>Visualização dos Gráficos</h3>
            <button id="viewGraph" disabled>Visualizar Grafo</button>
            <button id="viewBestRoute" disabled>Visualizar Melhor Rota</button>
            <button id="plotBoxplot" disabled>Visualizar Boxplot de Iterações</button>
            <button id="plotFitnessEvolution" disabled>Visualizar Evolução do Fitness</button>
        </div>

        <!-- Divs para mostrar os logs e iterações -->
        <div id="logContainer">
            <h3>Log de Execução</h3>
            <div id="log"></div>
        </div>

        <div id="iterationsContainer">
            <h3>Iterações</h3>
            <div id="iterations"></div>
        </div>

        <!-- Container para renderizar os gráficos -->
        <div id="graphContainer" style="margin-top: 20px;">
            <h3>Gráfico do Problema</h3>
            <div id="canvas" style="width: 100%; height: 600px;"></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
